header {
    background-color: #282D35;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    color: white;
}

header h1 {
    font-size: 20px;
    font-weight: 200;
}

.search {
    display: flex;
}

.search input {
    width: 13em;
}

button {
    font-size: 0.5rem;
    padding: 1px 30px;
    background-color: #ddefdd;
    color: black;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    white-space: normal;
}
input
{
    padding: 10px 30px;
        display: inline-block;
        border-radius: 5px;
        white-space: normal;
}

.link {
    text-decoration: none;
    color: #61DAFB;
    font-size: 1.3em;
}

.link {
    text-decoration: none;
    color: white;
}

.userIcon {
    width: 2.4rem;
    height: 2.4rem;
}

.customContainer {
    margin-top: -8px;
    margin-bottom: -8px;
}

.customDropDown {
    margin-left: 43rem;
}
