
.addForm {
    margin: 0 auto;
    width: 900px;
    background-color: #4b5463;
}


.addForm h2 {
    margin-top: 15px;
    margin-bottom: 25px;
    display: block;
}

.addForm label {
    font-weight: bold;
}

.addForm input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    
}



.addressFormat {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}



.button {
    height: 2rem;
    width: 10rem;
    position: relative;
   margin-bottom: 15px;
    font-size: 12px;
}

textarea{
    resize: none;
}