.button {
    font-size: 1rem;
    padding: 1px 30px;
    background-color: #0a738d;
    color: rgb(255, 255, 255);
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
}

.button:hover {
    background-color: #085669;
    color: rgb(255, 255, 255);
}

.button:active {
    background: #063d4b;
}

.button:focus {
    outline: none;
}

.link {
    text-decoration: none;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;

}
